<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mass.dao.VoteMassMapper">
    <resultMap id="BaseResultMap" type="com.mass.entity.VoteMass">
        <id column="id" jdbcType="BIGINT" property="id"/>
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime"/>
        <result column="last_modify_time" jdbcType="TIMESTAMP" property="lastModifyTime"/>
        <result column="vote_id" jdbcType="BIGINT" property="voteId"/>
        <result column="mass_id" jdbcType="BIGINT" property="massId"/>
    </resultMap>
    <sql id="Base_Column_List">
    id, create_time, last_modify_time, vote_id, mass_id
  </sql>
    <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from vote_mass
        where vote_id = #{voteId,jdbcType=BIGINT}
    </select>
    <!--  List<VoteMass> selectByVoteId(Long voteId);-->
    <select id="selectByVoteId" parameterType="java.lang.Long" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from vote_mass
        where id = #{id,jdbcType=BIGINT} and status=0
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
   update vote_mass
    set status = 0 where id = #{id}
  </delete>
    <delete id="deleteByVoteId">
     delete from vote_mass
 where vote_id = #{voteId}
</delete>
    <insert id="insert" parameterType="com.mass.entity.VoteMass" useGeneratedKeys="true" keyProperty="id">

        insert into vote_mass (create_time, last_modify_time, vote_id,
        mass_id)
        values (#{createTime,jdbcType=TIMESTAMP}, #{lastModifyTime,jdbcType=TIMESTAMP}, #{voteId,jdbcType=BIGINT},
        #{massId,jdbcType=BIGINT})
    </insert>
    <update id="updateByPrimaryKey">
    update vote_mass
    set create_time = #{createTime,jdbcType=TIMESTAMP},
      last_modify_time = #{lastModifyTime,jdbcType=TIMESTAMP},
      vote_id = #{voteId,jdbcType=BIGINT},
      mass_id = #{massId,jdbcType=BIGINT}
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>